<section class="section archive" [@archiveAnimation] *ngIf='state'>
    <div class="container">
        <div class="archive-title">
            <h1 class="big-title">Proyectos</h1>
            <p class="archive-subtitle big-subtitle">Una lista más completa</p>
        </div>
        <div class="archive-table-container">
            <table class="archive__StyledTable-lXDeB haZMKe">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Title</th>
                        <th class="hide-on-mobile">Made at</th>
                        <th class="hide-on-mobile">Built with</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-sr-id="1">
                        <td class="proyect-date">2024</td>
                        <td class="proyect-title">Financial Dataset Naming Tool</td>
                        <td class="proyect-company"><span>European Central Bank</span></td>
                        <td class="proyect-skills">
                            <span>PyTorch<span class="separator">·</span></span>
                            <span>GPT-2</span>
                        </td>
                        <td class="proyect-links">
                            <span><a style='color: inherit' href="https://github.com/SilvioBaratto/Financial-Naming-Tool"><i class="ml-4 fab fa-github"></i></a></span>
                        </td>
                    </tr>
                    <tr data-sr-id="2">
                        <td class="proyect-date">2024</td>
                        <td class="proyect-title">Sentiment Analysis Tool</td>
                        <td class="proyect-company"><span>European Central Bank</span></td>
                        <td class="proyect-skills">
                            <span>Python<span class="separator">·</span></span>
                            <span>NLTK</span>
                        </td>
                        <td class="proyect-links">
                            <span><a style='color: inherit' href="https://github.com/SilvioBaratto/Sentiment-Analysis-Tool"><i class="ml-4 fab fa-github"></i></a></span>
                        </td>
                    </tr>
                    <tr data-sr-id="3">
                        <td class="proyect-date">2023</td>
                        <td class="proyect-title">Portfolio Optimization WebApp</td>
                        <td class="proyect-company"><span>Generali Investments</span></td>
                        <td class="proyect-skills">
                            <span>Python<span class="separator">·</span></span>
                            <span>Streamlit<span class="separator">·</span></span>
                            <span>Flask</span>
                        </td>
                        <td class="proyect-links">
                            <span><a style='color: inherit' href="https://github.com/SilvioBaratto/Portfolio-Optimization-WebApp"><i class="ml-4 fab fa-github"></i></a></span>
                        </td>
                    </tr>
                    <tr data-sr-id="4">
                        <td class="proyect-date">2021</td>
                        <td class="proyect-title">Logistics Automation Projects</td>
                        <td class="proyect-company"><span>EssilorLuxottica</span></td>
                        <td class="proyect-skills">
                            <span>AGV Technology<span class="separator">·</span></span>
                            <span>Excel<span class="separator">·</span></span>
                            <span>Machine Learning</span>
                        </td>
                        <td class="proyect-links">
                            <span><a style='color: inherit' href="https://github.com/SilvioBaratto/Logistics-Automation"><i class="ml-4 fab fa-github"></i></a></span>
                        </td>
                    </tr>
                    <tr data-sr-id="5">
                        <td class="proyect-date">2021</td>
                        <td class="proyect-title">Preventive Maintenance with ML</td>
                        <td class="proyect-company"><span>EssilorLuxottica</span></td>
                        <td class="proyect-skills">
                            <span>Random Forest<span class="separator">·</span></span>
                            <span>Naive Bayes</span>
                        </td>
                        <td class="proyect-links">
                            <span><a style='color: inherit' href="https://github.com/SilvioBaratto/Preventive-Maintenance-ML"><i class="ml-4 fab fa-github"></i></a></span>
                        </td>
                    </tr>
                    <tr data-sr-id="6">
                        <td class="proyect-date">2023</td>
                        <td class="proyect-title">Nemo.AI - Smart Fishing Solutions</td>
                        <td class="proyect-company"><span>Nemo.AI</span></td>
                        <td class="proyect-skills">
                            <span>AI<span class="separator">·</span></span>
                            <span>Deep Learning<span class="separator">·</span></span>
                            <span>NLP</span>
                        </td>
                        <td class="proyect-links">
                            <span><a style='color: inherit' href="https://github.com/SilvioBaratto/NemoAI"><i class="ml-4 fab fa-github"></i></a></span>
                            <span><a style='color: inherit' href="http://nemoai.example.com/"><i class="ml-4 fas fa-external-link-alt"></i></a></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
